@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

/* Hide scrollbars for elements with overflow: auto */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

html,
body {
  font-family: 'Playball', Times, serif;
}

.font {
  font-family: 'Playball', Times, serif;
}